<!DOCTYPE html>

{% exrends 'base.html'%}

{% block title %}Confirm sign up | Typing app{% endblock %}

{% block active_login %}active{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style">
            <h1>ユーザー登録</h1>

            {% if confirmation %}
            <p>以下のボタンを押してユーザー登録を確定する。</p>
            
            <form method="POST" action="{% url 'account_confirm_email' confirmation.key %}">
                {% csrf_token %}
                <button class="btn btn-primary" type="submit">確定</button>
            </form>
        
        {% else %}

            {% url 'account_email' as email_url %}

            <p> リンクの期限がすぎています。 <a href="{{ email_url }}"></a>.</p>
        
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}