<!DOCTYPE html>
{% load static %}


<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" context="">
        <meta name="author" context="">

        <title>{% block title %}{% endblock %}</title>

        <!-- Bootstrap core CSS -->
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i400,400i,700,700i,900,900i" rel="stylesheet">

        <!-- Custom styles for this template  -->
        <link href="{% static 'css/one-page-wonder.min.css' %}" rel="stylesheet">
        
        <!-- My style -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">

        <!--Itabashi-->
        <link rel="stylesheet" type="text/css" media="screen,print" href="{% static 'css/typing.css' %}" />
        {% block head %}{% endblock %}
    </head>

    <body>
        <div id="wrapper">
            <!-- Navigation -->
            <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
                <div class="container">
                    <a class="navbar-brand" href="{% url 'typing_app:index' %}">TYPING APPLICATION</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggle-icon"></span> 
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item {% block active_inquiry %}{% endblock %}">
                                <a class="nav-link" href="{% url 'typing_app:inquiry' %}">INQUIRY</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav mr-auto">
                            {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account_logout' %}">Log Out</a>
                            </li>
                            {% else %}
                            <li class="nav-item {% block active_signup %}{% endblock %}">
                                <a class="nav-link" href="{% url 'account_signup' %}">Sing Up</a>
                            </li>
                            <li class="nav-item {% block active_login %}{% endblock %}">
                                <a class="nav-link" href="{% url 'account_login' %}">Log in</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>

            {% block header %}{% endblock %}

            {% block contents %}{% endblock %}

            <!-- Footer -->
            <footer class="py-5 bg-black">
                <div class="container">
                    <p class="m-0 text-center text-white" style="font-size: 0.7rem ;">Copyright &copy;TYPING_APP 2020</p>
                </div>
                <!-- /.container -->
            </footer>

            <!-- Bootstrap core JavaScript -->
            <script src="{% static 'vendor/jquery/jquery.min.js' %}"></Script>
                <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        </div>
    </body>

</html>


