<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="UTF-8" />
    <title>typingGame</title>
    <link rel="stylesheet" type="text/css" media="screen,print" href="{% static 'css/typing.css' %}" />
</head>


<body>
    <h2>タイピングゲーム</h2>
    <div id="frame"></div>
    <input type="button" class="button" id="restart" value="restart" onclick="gameSet()">
    <script type="text/javascript" src="{% static 'js/typing.js' %}"></script>
</body>

</html>